
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* For IonIcons */
i {
    padding-left: 5px;
    padding-right: 5px;
}

i .tooltip {
    visibility: hidden;
    border: 1px solid gray;
    background-color: lightyellow;
    color: #000;
    text-align: center;
    padding: 5px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    /*top: -5px;*/
    /*right: 105%;*/
    z-index: 1;
}

i:hover {
    background-color: #00ff00;
}

i:hover .tooltip {
    visibility: visible;
}

/* For PBOcclusion */
.occlusion-div {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: lightblue;
    opacity: 0.8;
    display: none;
}

.extra-div {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
}

.text-div {
    position: absolute;
    opacity: 1.0;
    left: 0;
    top: 30%;
    width: 100%;
    font-size: 40px;
    color: black;
    text-align: center;
}

.ok-button {
    position: relative;
    opacity: 1.0;
    top: 90%;
    left: 45%;
    display: none;
}

/* For PBOptions */
.fieldset-container {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 5px;
}

/* For the add grave occlusion */
.button-div {
    position: absolute;
    opacity: 1.0;
    bottom: 0;
    left: 40%;
}

/* For the UI control */
.control-div {
    user-select: none;
    -webkit-user-select: none;
}

.bounding-div {
    background-color: khaki;
    padding: 10px;
    border: 1px solid black;
    resize: both;
}

.close-button {
    right: 0;
    top: 0;
}

.edit-div {
    background-color: yellowgreen;
    padding: 10px;
    border: 1px solid black;
    display: none;
}

/* Fixed header scrollable table.  For the table that displays the graves. */
.fixed-header-scrollable-table {
    width: 400px;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid black;
    margin: auto;
}

.fixed-header-scrollable-table thead tr {
    display: block;
}

.fixed-header-scrollable-table thead {
    background: lightblue;
    color: #000;
}

.fixed-header-scrollable-table th {
    padding: 5px;
    text-align: left;
    width: 100px;
}

.fixed-header-scrollable-table tbody {
    display: block;
    width: 100%;
    overflow: auto;
    height: 100px;
    background-color: greenyellow;
}

.fixed-header-scrollable-table tbody tr td {
    width: 100px;
    overflow: auto;
}

.td-edit {
    width: 100px;
}

.even-row {
    background-color: #f2f2f2;
}

.odd-row {
    background-color: inherit;
}

.grave-state-0 {
}

.grave-state-1 {
    color: dodgerblue;
}

.grave-state-2 {
    color: tomato;
}

.grave-state-3 {
    color: orangered;
}

.plot:invalid {
    border: 2px dashed red;
}

.plot:valid {
    border: 0px solid black;
}

/* Grave InfoBox */
.GIB {
    padding: 5px;
    border: 1px solid black;
    background-color: #fafad2;
    -webkit-user-select: none;
    user-select: none;
}

.GIB-name {
    font-weight: bold;
}

.GIB-directions {
    font-weight: bold;
}

/* Google maps overrides */
.gm-style-iw-d {    /* Sets max height of the info window */
    max-height: 120px !important;
}