@charset "UTF-8";
/*!
  A stripped down version of Ionicons, v4.5.9-1 http://ionicons.com/
  MyIcons.otf created with http://www.glyphrstudio.com/
  Icons place at the beginning of private use area.
*/
@font-face {
    font-family: "MyIcons";
    src: url("../assets/MyIcons.otf");
    font-weight: normal;
    font-style: normal;
}
.ion,
.ionicons,
.ion-md-create:before,
.ion-md-settings:before,
.ion-md-document:before,
.ion-md-help:before,
.ion-md-directions {
    display: inline-block;
    font-family: "MyIcons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* The following names are the ones used in the Ionicons font */
.ion-md-create:before {
    content: "\e000";
} /* Actually a pencil */

.ion-md-document:before {
    content: "\e001";
} /* The standard page with the corner folded */

.ion-md-help:before {
    content: "\e002";
} /* The standard question mark */

.ion-md-settings:before {
    content: "\e003";
} /* The standard gear */

.ion-md-directions:before {
    content: "\e004";
} /* A car */
