@charset "UTF-8";
/*!
  The svg's for the icons came from Ionicons, v4.5.9-1 of ionicons.com
  MyIcons.otf created with www.glyphrstudio.com
  Icons placed at the beginning of private use area.
*/
@font-face {
    font-family: "MyIcons";
    src: url("../assets/MyIcons.otf");
    font-weight: normal;
    font-style: normal;
}
.ion,
.ionicons,
.ion-md-create:before,
.ion-md-settings:before,
.ion-md-document:before,
.ion-md-help:before,
.ion-md-directions {
    display: inline-block;
    font-family: "MyIcons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ion-md-create:before {
    content: "\e000";
}

.ion-md-settings:before {
    content: "\e003";
}

.ion-md-document:before {
    content: "\e002";
}

.ion-md-help:before {
    content: "\e001";
}

.ion-md-directions:before {
    content: "\e004";
}
