
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}

#uipanel {
    background-color: #ddd;
    height: 100%;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Fixed header scrollable table.  For the table that displays the graves. */
.fixed_header_scrollable_table {
    width: 400px;
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header_scrollable_table tbody {
    display:block;
    width: 100%;
    overflow: auto;
    height: 100px;
}

.fixed_header_scrollable_table thead tr {
    display: block;
}

.fixed_header_scrollable_table thead {
    background: black;
    color:#fff;
}

.fixed_header_scrollable_table th, .fixed_header_scrollable_table td {
    padding: 5px;
    text-align: left;
    width: 200px;
}