/*
    grave-list.css
    Used to display all the graves for all of the cemeteries.
 */

/* Makes the page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.cemetery-table {
    border: 1px solid black;
    border-collapse: collapse;
}

.cemetery-title {
    font: 36px bold Serif;
}

tr:nth-child(even) {
    background-color: #e2e2e2;
}

.plot-row {
    border: 1px solid black;
    background-color: white;
}

.first-grave-in-plot {
    border-top: 1px solid black;
}

.grave-in-plot {
    border-right: 1px solid black;
}

.cemetery-header {
    border-bottom: 1px solid black;
}

